<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Week 1 - Day 1 - Chest and Abs
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"> Dumbbell Pullover - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Decline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Pec Deck Fly - 15, 12, 10, 8</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Week 1 - Day 2 - Back, Biceps and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body"> Seated Cable Rows (Wide Grip) - 15, 12, 10</div>
      <div class="card-body"> One Arm Dumbbell Row - 15, 12, 10</div>
      <div class="card-body"> Wide Grip Lat Pull-Down - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Bicep Curl - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Week 1 - Day 3 - Shoulders, Triceps and Abs
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Barbell Shoulder Press - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Seated Dumbbell Triceps Extension - 15, 12, 10</div>
      <div class="card-body"> Tricep Push Down - 15, 12, 10</div>
      <div class="card-body"> Dumbbell One Arm Tricep Extension  - 15, 12, 10</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
          Week 1- Day 4 - Legs, Calves and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Romanian Deadlift - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Calf Press (Leg Press Machine)- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Week 2 - Day 1 - Chest and Abs
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"> Dumbbell Decline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Incline Push Up - 15, 12, 10, 8</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
      <div class="card-body"> Butt Ups - 25,25,25</div>
      <div class="card-body"> Basic Crunches - 25,25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Week 2 - Day 2 - Back, Biceps and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body"> Close Grip Front Lat Pulldown - 15, 12, 10</div>
      <div class="card-body"> V-Bar Pulldown - 15, 12, 10</div>
      <div class="card-body"> Barbell Deadlift - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Week 2 - Day 3 - Shoulders, Triceps and Abs
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body"> Front Delt Raise - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Dumbbell One Arm Tricep Extension - 15, 12, 10</div>
      <div class="card-body"> Overhead Triceps Extension - 15, 12, 10</div>
      <div class="card-body"> Seated Dumbbell Triceps Extension  - 15, 12, 10</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
          Week 2 - Day 4 - Legs, Calves and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Romanian Deadlift - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Standing Calf Raise- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Week 3 - Day 1 - Chest and Abs
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Incline Push Up - 15, 12, 10, 8</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
      <div class="card-body"> Butt Ups - 25,25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Week 3 - Day 2 - Back, Biceps and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body"> One Arm Dumbbell Row - 15, 12, 10</div>
      <div class="card-body"> V-Bar Pulldown - 15, 12, 10</div>
      <div class="card-body"> Close Grip Front Lat Pulldown - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Week 3 - Day 3 - Shoulders, Triceps and Abs
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body"> Machine Shoulder Press - 15, 12, 10</div>
      <div class="card-body"> Machine Reverse Fly - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Side Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Skull Crusher - EZ Bar - 15, 12, 10</div>
      <div class="card-body"> Tricep Rope Pull Down - 15, 12, 10</div>
      <div class="card-body"> Tricep Push Down - 15, 12, 10</div>
      <div class="card-body"> Seated Leg Tucks - 25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
          Week 3 - Day 4 - Legs, Calves and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body"> Leg Extension - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Good Morning Hamstrings - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Standing Calf Raise- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Week 4 - Day 1 - Chest and Abs
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dip Machine - 15, 12, 10, 8</div>
      <div class="card-body"> Seated Leg Tucks - 25,25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25,25</div>
      <div class="card-body"> Basic Crunches - 25,25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Week 4 - Day 2 - Back, Biceps and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body"> Chin Up - 15, 12, 10</div>
      <div class="card-body"> Seated Cable Rows (Narrow Grip) - 15, 12, 10</div>
      <div class="card-body"> Barbell Deadlift - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl  - 15, 12, 10</div>
      <div class="card-body"> Alternate Incline Dumbbell Curl - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Week 4 - Day 3 - Shoulders, Triceps and Abs
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body"> Front Delt Raise - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Skull Crusher - EZ Bar  - 15, 12, 10</div>
      <div class="card-body"> Seated Leg Tucks - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Barbell Shrugs (Behind Back) - 15,15,15</div>
      <div class="card-body"> Standing Dumbbell Upright Row (Close Grip) - 15,15,15</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
          Week 4 - Day 4 - Legs, Calves and Cardio
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body"> Barbell Squat - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Leg Extension - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift  - 15, 12</div>
      <div class="card-body"> Good Morning Hamstrings - 15,12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15,12</div>
      <div class="card-body"> Seated Calf Raise - 15,12</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </div>
  </div>
</div>