<p>
  Week 3 - Day 3 - Shoulders and Abs
</p>
<h3>Machine Shoulder Press</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Machine Reverse Fly</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Arnold Dumbbell Press Seated</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Side Lateral Raise</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Skull Crusher</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Tricep rope pull down</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Tricep Push Down</h3>
<ul>
  <li>15</li>
  <li>12</li>
  <li>10</li>
</ul>

<h3>Hanging Leg Raises</h3>
<ul>
  <li>25</li>
  <li>25</li>
</ul>

<h3>Seated Leg Tucks</h3>
<ul>
  <li>25</li>
  <li>25</li>
</ul>

<h3>Basic Crunches</h3>
<ul>
  <li>25</li>
  <li>25</li>
</ul>

<h3>Bent Knee Hip Raises</h3>
<ul>
  <li>25</li>
  <li>25</li>
</ul>

<h3>Dumbbell Shrugs</h3>
<ul>
  <li>25</li>
  <li>25</li>
</ul>



