<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Week 1 - Day 1 - Chest and Abs">
    <ng-template ngbPanelContent>
      <div class="card-body"> Dumbbell Pullover - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Decline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Pec Deck Fly - 15, 12, 10, 8</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 1 - Day 2 - Back, Biceps and Cardio</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Seated Cable Rows (Wide Grip) - 15, 12, 10</div>
      <div class="card-body"> One Arm Dumbbell Row - 15, 12, 10</div>
      <div class="card-body"> Wide Grip Lat Pull-Down - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Bicep Curl - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 1 - Day 3 - Shoulders, Triceps and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Barbell Shoulder Press - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Seated Dumbbell Triceps Extension - 15, 12, 10</div>
      <div class="card-body"> Tricep Push Down - 15, 12, 10</div>
      <div class="card-body"> Dumbbell One Arm Tricep Extension - 15, 12, 10</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Dumbbell Shrug - 15,15,15</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 1- Day 4 - Legs, Calves and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Romanian Deadlift - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Calf Press (Leg Press Machine)- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 2 - Day 1 - Chest and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Dumbbell Decline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Incline Push Up - 15, 12, 10, 8</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
      <div class="card-body"> Butt Ups - 25,25,25</div>
      <div class="card-body"> Basic Crunches - 25,25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 2 - Day 2 - Back, Biceps and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Close Grip Front Lat Pulldown - 15, 12, 10</div>
      <div class="card-body"> V-Bar Pulldown - 15, 12, 10</div>
      <div class="card-body"> Barbell Deadlift - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 2 - Day 3 - Shoulders, Triceps and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Front Delt Raise - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Dumbbell One Arm Tricep Extension - 15, 12, 10</div>
      <div class="card-body"> Overhead Triceps Extension - 15, 12, 10</div>
      <div class="card-body"> Seated Dumbbell Triceps Extension  - 15, 12, 10</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 2 - Day 4 - Legs, Calves and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Romanian Deadlift - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Standing Calf Raise- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 3 - Day 1 - Chest and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Incline Push Up - 15, 12, 10, 8</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
      <div class="card-body"> Butt Ups - 25,25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25,25</div>
      <div class="card-body"> Elbow to Knee Sit Ups - 25,25,25</div>
    </ng-template>
  </ngb-panel>



  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 3 - Day 2 - Back, Biceps and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> One Arm Dumbbell Row - 15, 12, 10</div>
      <div class="card-body"> V-Bar Pulldown - 15, 12, 10</div>
      <div class="card-body"> Close Grip Front Lat Pulldown - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl - 15, 12, 10</div>
      <div class="card-body"> Barbell curl - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 3 - Day 3 - Shoulders, Triceps and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Machine Shoulder Press - 15, 12, 10</div>
      <div class="card-body"> Machine Reverse Fly - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Side Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Skull Crusher - EZ Bar - 15, 12, 10</div>
      <div class="card-body"> Tricep Rope Pull Down - 15, 12, 10</div>
      <div class="card-body"> Tricep Push Down - 15, 12, 10</div>
      <div class="card-body"> Seated Leg Tucks - 25,25</div>
      <div class="card-body"> Hand Over-Head Crunch - 25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
      <div class="card-body"> Dumbbell Shrug  - 15,15,15</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 3 - Day 4 - Legs, Calves and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Leg Extension - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12, 10</div>
      <div class="card-body"> Barbell Squats - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift - 15, 12</div>
      <div class="card-body"> Good Morning Hamstrings - 15, 12</div>
      <div class="card-body"> Machine Leg Curl - 15, 12, 10</div>
      <div class="card-body"> Seated Calf Raise - 15, 12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15, 12, 10</div>
      <div class="card-body"> Standing Calf Raise- 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins - 15, 12, 10</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 4 - Day 1 - Chest and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Barbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dumbbell Incline Bench Press - 15, 12, 10, 8</div>
      <div class="card-body"> Dip Machine - 15, 12, 10, 8</div>
      <div class="card-body"> Seated Leg Tucks - 25,25,25</div>
      <div class="card-body"> Bent Knee Hip Raise - 25,25,25</div>
      <div class="card-body"> Basic Crunches - 25,25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25,25</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 4 - Day 2 - Back, Biceps and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Chin Up - 15, 12, 10</div>
      <div class="card-body"> Seated Cable Rows (Narrow Grip) - 15, 12, 10</div>
      <div class="card-body"> Barbell Deadlift - 15, 12, 10</div>
      <div class="card-body"> Straight Arm Pulldown - 15, 12, 10</div>
      <div class="card-body"> Close Grip EZ Bar Curl  - 15, 12, 10</div>
      <div class="card-body"> Alternate Incline Dumbbell Curl - 15, 12, 10</div>
      <div class="card-body"> Preacher Curls - 15, 12, 10</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 4 - Day 3 - Shoulders, Triceps and Abs</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Front Delt Raise - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Lateral Raise - 15, 12, 10</div>
      <div class="card-body"> Arnold Dumbbell Press Seated - 15, 12, 10</div>
      <div class="card-body"> Reverse Flys - 15, 12, 10</div>
      <div class="card-body"> Skull Crusher - EZ Bar  - 15, 12, 10</div>
      <div class="card-body"> Seated Leg Tucks - 25,25</div>
      <div class="card-body"> Hanging Leg Raises - 25,25</div>
      <div class="card-body"> Basic Crunches - 25,25</div>
      <div class="card-body"> Butt Ups - 25,25</div>
      <div class="card-body"> Barbell Shrugs (Behind Back) - 15,15,15</div>
      <div class="card-body"> Standing Dumbbell Upright Row (Close Grip) - 15,15,15</div>
    </ng-template>
  </ngb-panel>

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Week 4 - Day 4 - Legs, Calves and Cardio</b> &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card-body"> Barbell Squat - 15, 12, 10</div>
      <div class="card-body"> Leg Press - 15, 12, 10</div>
      <div class="card-body"> Leg Extension - 15, 12, 10</div>
      <div class="card-body"> Dumbbell Squats - 15, 12</div>
      <div class="card-body"> Dumbbell Stiff Leg Deadlift  - 15, 12</div>
      <div class="card-body"> Good Morning Hamstrings - 15,12</div>
      <div class="card-body"> Standing Dumbbell Calf Raise - 15,12</div>
      <div class="card-body"> Seated Calf Raise - 15,12</div>
      <div class="card-body"> Cardio Session - 15mins</div>
    </ng-template>
  </ngb-panel>



  <!-- <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel> -->
</ngb-accordion>

