<p>
  deadlift works!
</p>

<!-- <p> {{deadliftHistory}} </p>

<p> {{Count}} </p>

<p> {{Items[0].CreatedDate}} </p>

<p> {{Items[0].CreatedDate}} </p>

<p> {{Items.length}} </p>

<li *ngFor="let item of Items">
  {{ item.CreatedDate  }}
</li> -->

<table striped="true" responsive="true" >
  <thead class="black white-text">
    <th>Set1</th>
    <th>Set2</th>
    <th>Created Date</th>
  </thead>
  <tbody  striped="true">
    <tr  *ngFor="let item of Items">
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{item.Set1}}</td>
      <td>{{item.Set2}}</td>
      <td>{{item.CreatedDate}}</td>
    </tr>
  </tbody>
</table>



<!-- *** Import doc to show data -->
<!-- https://mdbootstrap.com/docs/angular/tables/basic/ -->