select {
  margin: 10px;
}

/* #Set1 {
  width: 100px;
} */

/* input {
  width: 100px;
} */

.form-control-inline {
  width: 100px;
}

#Notes {
  size: 100;
  width: 300px;
}

#LastSetNotes {
  color: red;
  right: -34px;
  position: relative;
  bottom: -7px;
  width: 300px;
}

.Set1 {
  margin: 1px;
}