
<div>
  <label></label>
</div>


<select [(ngModel)]="country" class="btn btn-secondary dropdown-toggle">
  <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
</select>

<select *ngIf="country" [(ngModel)]="city" [value]="city" class="btn btn-secondary dropdown-toggle">
  <option *ngFor="let city of cities"> {{ city }} </option>
</select>




<div class="form-group has-success">
  <label class="form-control-label">Set1</label>
  <input type="text" class="form-control-inline" id="inputValid">
  <label></label>
  <span class="input-group-addon"> Reps </span>
  <input type="text" class="form-control-inline" id="inputValid">
</div>

<div class="form-group has-success">
  <label class="form-control-label">Set2</label>
  <input type="text" class="form-control-inline" id="inputValid">
  <span class="input-group-addon"> Reps </span>
  <input type="text" class="form-control-inline" id="inputValid">
</div>

<div class="form-group has-success">
  <label class="form-control-label">Set3</label>
  <input type="text" class="form-control-inline" id="inputValid">
  <span class="input-group-addon"> Reps </span>
  <input type="text" class="form-control-inline" id="inputValid">
</div>


<div class="form-group has-success">
  <label class="form-control-label">Set4</label>
  <input type="text" class="form-control-inline" id="inputValid">
  <span class="input-group-addon"> Reps </span>
  <input type="text" class="form-control-inline" id="inputValid">
</div>

<button type="submit" class="btn btn-primary">Submit</button>

<!-- Added below div to keep space between the Submit button and Table -->
<div>
  <label></label>
</div>


<table class="table table-hover table-bordered" style="width:35%">
  <thead>
    <tr>
      <th scope="col">Set1</th>
      <th scope="col">Set2</th>
      <th scope="col">Set3</th>
      <th scope="col">Set4</th>
      <th scope="col">CreatedDate</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-primary" *ngFor="let item of Items">
      <!-- <th scope="row">Primary</th> -->
      <td>{{item.Set1}}</td>
      <td>{{item.Set2}}</td>
      <td>{{item.Set3}}</td>
      <td>{{item.Set4}}</td>
      <td>{{item.CreatedDate}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-bordered" style="width:35%">
  <thead>
    <tr>
      <th scope="col">Set1</th>
      <th scope="col">Set2</th>
      <th scope="col">Set3</th>
      <th scope="col">Set4</th>
      <th scope="col">CreatedDate</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-primary" *ngFor="let item of Items">
      <!-- <th scope="row">Primary</th> -->
      <td>{{item.Set1}}</td>
      <td>{{item.Set2}}</td>
      <td>{{item.Set3}}</td>
      <td>{{item.Set4}}</td>
      <td>{{item.CreatedDate}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-hover table-bordered" style="width:35%">
  <thead>
    <tr>
      <th scope="col">Set1</th>
      <th scope="col">Set2</th>
      <th scope="col">Set3</th>
      <th scope="col">Set4</th>
      <th scope="col">CreatedDate</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-primary" *ngFor="let item of Items">
      <!-- <th scope="row">Primary</th> -->
      <td>{{item.Set1}}</td>
      <td>{{item.Set2}}</td>
      <td>{{item.Set3}}</td>
      <td>{{item.Set4}}</td>
      <td>{{item.CreatedDate}}</td>
    </tr>
  </tbody>
</table>





<!-- *** Import doc to show data -->
<!-- https://mdbootstrap.com/docs/angular/tables/basic/ -->