<form [formGroup]="EnterCredentials" (ngSubmit)="onSubmit()">
  <div>
    
  </div>
  <div class="form-group has-success">
    <label class="form-control-label"> Username </label>
    <input type="text" pattern="[0-9]*" class="form-control-inline" id="Username" formControlName="Username">
  </div>

  <div class="form-group has-success">
    <label class="form-control-label"> Password </label>
    <input type="text" pattern="[0-9]*" class="form-control-inline" id="Password" formControlName="Password">
    <!-- formControlName="Set1" -->
  </div>
  <button type="button" (click)="ValidateCredentials()" class="btn btn-primary">Login</button>
</form>

















<!-- Patient Workout Log commented to clear out login page-->

<!-- Future implement this page some where else -->

